/* Remove border from trigger when expanded. */
table.views-expandable-table tr.expanded[data-views-expandable-table-trigger] {
  border-bottom: none;
}

/* With JS, initially hide the expandable content. */
html.js table.views-expandable-table tr[data-views-expandable-table-target]:not(.expanded) {
  display: none;
}

/* Display cursor as pointer on trigger row. */
tr[data-views-expandable-table-trigger] {
  cursor: pointer;
}

span.views-expandable-table-trigger {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: relative;
  float: right;
  padding-left: .85rem;
}

span.views-expandable-table-trigger:hover:before {
  background-color: #c8c8c8;
}

span.views-expandable-table-trigger:before {
  content: "";
  background-image: url('../img/down_arrow.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  height: 36px;
  width: 36px;
  display: inherit;
  vertical-align: middle;
  margin-right: .85rem;
}

span.views-expandable-table-trigger.expanded:hover:before {
  background-color: #c8c8c8;
}

span.views-expandable-table-trigger.expanded:before {
  content: "";
  background-image: url('../img/up_arrow.png') !important;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  height: 36px;
  width: 36px;
  display: inherit;
  vertical-align: middle;
  margin-right: .85rem;
}
